html {
  font-size: 14px;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
*/
html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #26294B;
    color:white;
}

.main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-start {
    color:white;
    background-color: #D01624;
    width: 130px;
    border-radius:25px;
}
#logo{

    margin-bottom:30px
}
#play-quiz-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#question-text{
    font-size:15px;
    font-weight:bold;
    padding-top:15px
}

.btn-answer {
    color: white;
    border-color:white;
    border-radius: 25px;
    padding: 10px 20px;
    text-align:center;
}
.history-answer,
#answer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.btn-answer:hover {
    background-color: white;
    color: black;
}
.btn-answer.active {
    background-color: white;
    color: black;
}

#answer .btn-answer {
    margin-bottom: 20px;
    width:350px;
}
.btn-next,
.btn-view-answer,
.btn-play-again,
.btn-submit {
    background-color: #D01624;
    padding: 8px;
    border-radius: 25px;
    width: 120px;
    color: white;
}

    .btn-submit[disabled] {
        color:white;
        background-color: #9E9E9E;
    }
.right-answer {
    background-color: #05AA6D !important;
}
.wrong-answer {
    background-color: #D01624 !important;
}
.main-content > div {
    text-align:center;
}
#modal-result {
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 3.95px 3.95px 3.6px;
}
#modal-result>div{
    padding:30px 30px;
}
.modal-title{
    color:black;
    font-weight:700;
    font-size:20px
}
.image-wrap img {
    width: 50px;
    margin-bottom:15px;
}
.modal-content{
    border:none;
    color:black;
    margin-bottom:15px
}
.btn:hover{
    color:white;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.btn-answer:hover{
    color:black;
}
.btn-view-answer,
.btn-play-again{margin-bottom:10px}

#history-play {
    background-color: white;
    color: #26294B;
    border-radius: 15px;
    max-height: 500px;
    min-height:100px;
    overflow-y: scroll
}
#history-play > div{
    display:flex;
    flex-direction:column;
    padding: 20px 40px;
    align-items:center;
}
.history-answer .btn-answer {
    margin-bottom: 20px;
    color: #26294B;
    border-color: #26294B;
    width: 350px;
    cursor:unset;
}
#history-play .history-quest {
    font-size: 15px;
    font-weight: bold;
}
#modal-history {
    min-width: 300px;
    background-color: white;
    position: absolute;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
}
#closeBtn{
    position:absolute;
    top:10px;
    right: 15px;
    cursor:pointer;
}
#modal-history > div:first-child{
    color:black;
    font-size:20px;
    font-weight:700;
    margin-top:6px;
    
}
#question-number {
    font-size: 18px;
}
#question-number small{
    font-size: 12px
}